<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <center>
            <a href="/shows">Go back</a>
            <h1>Add a new show</h1>
    
            <form action="/shows/create" method='POST'>
                {% csrf_token %}
                <lable>title<lable>
                <input type="text" name="title" required>
                <lable>Network</lable>
                <input type="text" name="network" required>
                <lable>Release Date</lable>
                <input type="date" name="date" required>
                <lable>Description</lable>
                <textarea name="desc"></textarea required>
                
        
                <input type="submit" value="Create">
            </form>
        </center>
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}

    </body> 
</html>
